@{
    ViewData["Title"] = "Welcome";
}

<h2>Nhập tên và tuổi </h2>

<p>Hello from our View Template!</p>


<form action="" method="post">
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="age" placeholder="age" />
    <input type="submit" value="Submit" />
</form>

